<div class="container py-4" style="text-align:center">
    <div class="row">
        <div class="col-md-3">
            <!--Ini Kolom Kesatu-->
        </div>
        <div class="col-md-6">
            <!--Ini Kolom Kedua-->
            <h2>Potensi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nisi tortor. Ut quis risus sit
                amet orci
                egestas mattis ut sit amet dui. Vivamus tempus magna nec imperdiet fermentum. Nam dolor purus, pretium
                et mauris
                vel, viverra volutpat dui. Sed lobortis eros nulla.
            </p>
        </div>
        <div class="col-md-3">
            <!--Ini Kolom Ketiga-->
        </div>
    </div>
</div>

<app-potensi-item></app-potensi-item>