<nav class="navbar navbar-expand-lg navbar-dark bg-header" id="sticky-header">
  <a class="navbar-brand" href="#">
    <img src="/assets/icon/bandot.png" class="logo-bandot">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <a routerLink="/" class="nav-link beranda">Beranda<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/potensi" class="nav-link potensi">Potensi</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/statistik" class="nav-link statistik">Statistik</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/datasets" class="nav-link datasets">Datasets</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/peta" class="nav-link peta">Peta</a>
      </li>
    </ul>
  </div>
</nav>