<div class="container bg-container pb-5">
    
        <div class="row mt-5 justify-content-center">
                
            <div class="card card-custom mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/balaicilacap.png" class="card-img-top" alt="sdkranji4">
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/BI.png" class="card-img-top" alt="sdkranji4">
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/BKD.png" class="card-img-top" alt="sdkranji4">
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/BKPPD.png" class="card-img-top" alt="sdkranji4">
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/bpn.png" class="card-img-top" alt="sdkranji4">
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/BPPPD.png" class="card-img-top" alt="sdkranji4">
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom-topik mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/baworkeuangan.png" class="card-img-top size-topik img-responsive mt-3" alt="sdkranji4">
                <div class="card-body" style="text-align:center">
                    <p class="card-text">Keuangan Daerah dan Harga</p>
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom-topik mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/baworindustri.png" class="card-img-top size-topik img-responsive mt-3" alt="sdkranji4">
                <div class="card-body" style="text-align:center">
                    <p class="card-text">Industri dan Energi</p> <br>
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom-topik mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/baworikan.png" class="card-img-top size-topik img-responsive mt-3" alt="sdkranji4">
                <div class="card-body" style="text-align:center">
                    <p class="card-text">Peternakan dan Perikanan</p>
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom-topik mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/baworhotel.png" class="card-img-top size-topik img-responsive mt-3" alt="sdkranji4">
                <div class="card-body" style="text-align:center">
                    <p class="card-text">Perhubungan Hotel dan Pariwisata</p>
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom-topik mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/baworgeografi.png" class="card-img-top size-topik img-responsive mt-3" alt="sdkranji4">
                <div class="card-body" style="text-align:center">
                    <p class="card-text">Geografi</p> <br>
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>

            <div class="card card-custom-topik mx-2 mb-3">
                <img src="/assets/img/statistik-organisasi/bawordagang.png" class="card-img-top size-topik img-responsive mt-3" alt="sdkranji4">
                <div class="card-body" style="text-align:center">
                    <p class="card-text">Perdagangan dan Koperasi</p>
                    <a href="#" class="btn btn-primary btn-block">Lihat</a>
                </div>
            </div>
                
        </div>
</div>