<div class="container pt-5">
    <div class="row pb-5">
        <div class="col-md-6">
        <!--Ini Kolom Kesatu-->
            <!--Bagian Pemerintahan-->    
            <h4>Pemerintahan</h4>
            <div class="row justify-content-center">
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/pemerintahan.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>OPD</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/pemerintahan.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Kecamatan</p>
                        </div>
                    </a>
                </div>

                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/pemerintahan.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Kelurahan dan Desa</p>
                        </div>
                    </a>
                </div>             
            </div>
            <!--Akhir Dari Bagian Pemerintahan-->
            <!--Bagian Kesehatan-->    
            <h4>Kesehatan</h4>
            <div class="row justify-content-center">
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/rumahsakit.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Rumah Sakit</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/puskesmas.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Puskesmas</p>
                        </div>
                    </a>
                </div>

                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/klinik.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Klinik</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/apotek.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Apotek</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--Akhir Dari Bagian Kesehatan-->
            <!--Bagian Pendidikan-->    
            <h4>Pendidikan</h4>
            <div class="row justify-content-center">
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/sd.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>SD</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/smp.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>SMP</p>
                        </div>
                    </a>
                </div>

                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/sma.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>SMA</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/perguruantinggi.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Perguruan Tinggi</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--Akhir Dari Bagian Pendidikan-->
            <!--Bagian Wisata-->    
            <h4>Wisata</h4>
            <div class="row justify-content-center">
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/penginapan.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Penginapan</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/kuliner.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Kuliner</p>
                        </div>
                    </a>
                </div>

                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/wisataalam.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Wisata Alam</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/oleholeh.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Oleh-oleh</p>
                        </div>
                    </a>
                </div>

                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/tamankota.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Taman Kota</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--Akhir Dari Bagian Wisata-->
        </div>
        <div class="col-md-6">
        <!--Ini Kolom Kedua-->
            <!--Bagian Transportasi-->    
            <h4>Transportasi</h4>
            <div class="row justify-content-center">
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/bus.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Bus</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/keretaapi.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Kereta Api</p>
                        </div>
                    </a>
                </div>

                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/taxi.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Taxi</p>
                        </div>
                    </a>
                </div>             
            </div>
            <!--Akhir Dari Bagian Transportasi-->
            <!--Bagian Industri-->    
            <h4>Indsutri</h4>
            <div class="row justify-content-center">
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/pabrik.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>Pabrik</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/umkm.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>UMKM</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--Akhir Dari Bagian Industri-->
            <!--Bagian Pelayanan-->    
            <h4>Pelayanan</h4>
            <div class="row justify-content-center">
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/pln.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>PLN</p>
                        </div>
                    </a>
                </div>
                
                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/pdam.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>PDAM</p>
                        </div>
                    </a>
                </div>

                <div class="card card-custom" style="text-align: center">
                    <a href="#">
                    <img src="/assets/icon/potensi/bpjs.png" class="card-img-top  icon-potensi img-responsive" alt="sdkranji4">
                        <div class="card-body">
                            <p>BPJS</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--Akhir Dari Bagian Pelayanan-->
        </div>
    </div>
</div>