<header class="header-detail">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
          <p class="lead">A great starter layout for a landing page</p>
          </div>
      </div>
    </div>
</header>
<div class="container">

    <div class="row">
        <div class="col-md-2">
            <!--One of three columns-->
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h2>SD NEGERI 4 KRANJI</h2>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <b>Info</b>
                </div>
                <div class="col-md-8">
                    Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <b>Kontak</b>
                </div>
                <div class="col-md-8">
                    Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <b>Website</b>
                </div>
                <div class="col-md-8">
                    <a href="#">Lorem ipsum dolor sit amet, at omnes deseruisse pri.</a>
                </div>
            </div>
            <div class="row pt-5 pb-5">
                <div class="col-md-2">
                    <b>Peta</b>
                </div>
                <div class="col-md-8">
                    Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                </div>
            </div>
        </div>
        <div class="col-md-2">
           <!--One of three columns-->
        </div>
    </div>
</div>