<header class="header-detail">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        </div>
    </div>
</header>
<div class="container pt-3">

    <div class="row">
        <div class="col-md-2">
            <!--One of three columns-->
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h2>SD NEGERI 4 KRANJI</h2>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <h5>Info</h5>
                </div>
                <div class="col-md-8">
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu
                        detraxit constituam, an mel iudico constituto efficiendi.
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <h5>Kontak</h5>
                </div>
                <div class="col-md-8">
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu
                        detraxit constituam, an mel iudico constituto efficiendi.
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-2">
                    <h5>Website</h5>
                </div>
                <div class="col-md-8">
                    <a href="#">Lorem ipsum dolor sit amet, at omnes deseruisse pri.</a>
                </div>
            </div>
            <div class="row pt-5 pb-5">
                <div class="col-md-2">
                    <h5>Peta</h5>
                </div>
                <div class="col-md-8">
                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false"
                        (mapClick)="onChooseLocation($event)">

                        <agm-marker [latitude]="latitude" [longitude]="longitude">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <!--One of three columns-->
        </div>
    </div>
</div>