<!--Tampilan Home-->
<!-- ***HAPUS KOMENTAR UNTUK MENAMPILKAN TAMPILAN YANG DIPILIH*** -->

<!--
<app-header></app-header>
<body>
    <app-banner></app-banner>
    <app-home></app-home>
</body>
<app-footer></app-footer>
-->

<!--
<app-header></app-header>
<body>
    <app-peta></app-peta>
</body>
<app-footer></app-footer>
-->

<!--
<app-header></app-header>
<body>
    <app-potensi></app-potensi>
    <app-potensi-item></app-potensi-item>
</body>
<app-footer></app-footer>
-->

<!--
<app-header></app-header>
<body>
    <app-subpotensi-list></app-subpotensi-list>
    <app-subpotensi-item></app-subpotensi-item>
</body>
<app-footer></app-footer>
-->

<!--
<app-header></app-header>
<body>
    <app-subpotensi-detail></app-subpotensi-detail>
</body>
<app-footer></app-footer>
-->
<app-header></app-header>
<body>
    <app-statistik-list></app-statistik-list>
    <app-statistik-item></app-statistik-item>
</body>
<app-footer></app-footer>