.masthead {
  height: 75vh;
  min-height: 500px;
  background-image: url('../../../assets/img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
p {
  color: white;
  font-family: 'Varela', sans-serif;
}