<div class="row justify-content-md-center pt-4">
  <div class="col col-md-2"><hr style="border: 1px solid; border-radius: 2px;"></div>
  <div class="col-md-auto"><h4 style="text-align:center">Tentang Si Bandot</h4></div>
  <div class="col col-md-2"><hr style="border: 1px solid; border-radius: 2px;"></div>
</div>
<div class="row justify-content-md-center pt-3">
  <div class="col-md-10">
    <p style="text-align:center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nisi tortor. Ut quis risus sit amet orci egestas mattis ut sit amet dui. Vivamus tempus magna nec imperdiet fermentum. Nam dolor purus, pretium et mauris vel, viverra volutpat dui. Sed lobortis eros nulla. Nam pharetra pulvinar mattis. Ut efficitur varius tortor id blandit. Cras velit turpis, sodales a accumsan nec, porttitor at dolor. Cras ac nisi finibus, commodo eros at, viverra urna. Pellentesque fringilla mollis ante, ac auctor velit. In molestie ut nulla sed faucibus. Aliquam mattis lorem ut magna egestas, at fermentum mi fringilla.</p>
  </div>
</div>
<hr>  