<div class="container">
  <div class="row justify-content-md-center pt-4">
    <div class="col col-md-2">
      <hr style="border: 1px solid; border-radius: 2px;">
    </div>
    <div class="col-md-auto">
      <h4 style="text-align:center">Tentang SI BANDOT</h4>
    </div>
    <div class="col col-md-2">
      <hr style="border: 1px solid; border-radius: 2px;">
    </div>
  </div>

  <div class="row justify-content-md-center pt-3">
    <div class="col-md-12">
      <p style="text-align: center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nisi tortor. Ut quis risus sit amet orci
        egestas mattis ut sit amet dui. Vivamus tempus magna nec imperdiet fermentum. Nam dolor purus, pretium et mauris
        vel, viverra volutpat dui. Sed lobortis eros nulla. Nam pharetra pulvinar mattis. Ut efficitur varius tortor id
        blandit. Cras velit turpis, sodales a accumsan nec, porttitor at dolor. Cras ac nisi finibus, commodo eros at,
        viverra urna. Pellentesque fringilla mollis ante, ac auctor velit. In molestie ut nulla sed faucibus. Aliquam
        mattis lorem ut magna egestas, at fermentum mi fringilla.</p>
    </div>
  </div>
</div>

<div class="container pt-3 pb-3">
  <div class="row col-md-12">
    <div class="col-md-6">
      <table>
        <tbody>
          <tr>
            <td colspan="2">
              <h4>KONTAK KAMI</h4>
            </td>
          </tr>
          <tr>
            <td><img src="../../assets/icon/marker.png" alt="alamat" style="height:30px; width: 30px;"></td>
            <td class="col-auto">
              Jl. Kolonel Sugiono No. 17 Purwokerto 53116
            </td>
          </tr>
          <tr>
            <td><img src="../../assets/icon/email.png" alt="alamat" style="height:30px; width: 30px;"></td>
            <td class="col-auto">dinkominfo@banyumaskab.go.id</td>
          </tr>
          <tr>
            <td><img src="../../assets/icon/phone.png" alt="alamat" style="height:30px; width: 30px;"></td>
            <td class="col-auto"><span class="align-middle">
                (0281) 632338
              </span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6">
      <img src="../../assets/icon/mailbox.png" alt="" id="mailbox">
    </div>
  </div>
</div>

<div class="container pt-1 pb-5">
  <div class="row col-md-12">
    <div class="col-12 col-md-6">
      <img src="../../assets/icon/devsupp.jpg" alt="developer support" id="devsupp">
    </div>
    <div class="col-12 col-md-6">
      <h4 id="dukungan" style="padding-bottom: 1em">DUKUNGAN UNTUK DEVELOPER</h4>
      <p>Bagi kamu penggiat teknologi informasi, kamu memberikan dukungan berbagi pakai data secara mudah dalam bentuk
        services</p>
    </div>
  </div>
</div>
