table {
  margin: 10% auto auto;
}

td {
  padding: 0.5em;
}

#mailbox {
  height: 250px;
  width: 250px;
  margin: auto;
  display: block;
}

#devsupp {
  height: 250px;
  width: 250px;
  margin: auto;
  display: block;
}

#dukungan {
  margin: 15% auto auto;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
p, td {
  font-family: 'Varela', sans-serif;
}
